
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-inline: 50px;
}

.header-logo-image {
  width: 148px;
  height: 105px;
  margin-block: 92px 96px;
}

.menu {
  display: flex;
  padding-top: 133px;
  justify-content: stretch;
}

.menu-list-item { 
  list-style: circle;
  margin-left: 31.48px;
}

.menu-text__another {
  margin-left: 32px;
}

.menu-list-item__accent {
  list-style: none;
  margin: 0;
}

.menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.link-active {
  text-decoration: none;
}

.menu-adress {
  max-width: 240px;
  margin-left: auto;
  align-self: center;
}

.adress-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-style: normal;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  color: #fff;
  text-transform: uppercase;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.cover-content {
  padding-inline: 50px;
  padding-top: 165px;
}

.cover-title {
  display: block;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;

}

.cover-title__center {
  text-align: center;
}

.cover-title__right {
  text-align: right;
}

.last-letter {
  letter-spacing: normal;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  padding-inline: 50px;
  padding-bottom: 50px;
}

.description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.54px;
}


.description-button {
  outline: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 12px 32px;
  white-space: nowrap;
}


.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.lots__title {
  padding-left: 40px;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  padding-inline: 24px;
}

.lots-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  width: 100%;
  margin-bottom: 40px;
}

.lots-list-item-link {
  text-decoration: none;
}

.lots-items li {
  list-style: none;
  position: relative;
  z-index: 1;
}

.lots-item {
  width: 334px;
  height: 100%;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  min-height: 596px;
}

.lots-item__film-card {
  background-image: url(../images/card-lot-01.jpg);

}

.lots-item__book-card {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-item__picture-card {
  background-image: url(../images/card-lot-03.jpg);
}

.card-text-accent {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: none;
}

.text-card__more {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card-text-more {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
  padding-top: 30px;
}

.about {
  padding-top: 120px;
  padding-inline: 24px;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.about-logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about-logo-background {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about-logo {
  width: 148px;
  height: 114px; 
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about-text-another-margin {
  margin-right: 5px;
}

.about-text-content {
  margin-left: 72px;
}

.about-title {
  margin-top: 136px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  margin-top: 180px;
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
}

.menu-adress__footer {
  padding-bottom: 82px;
  margin: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu-list-item {
  list-style: none;
}

.social {
  width: 240px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-item {
  width: 48px;
  height: 48px;
}